# Deployment Environment Variables Example
SECRET_KEY=change_me_to_a_secure_random_string_in_production
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com
DATABASE_URL=postgres://user:password@hostname:port/dbname
