# Deployment Environment Variables Example
SECRET_KEY=django-insecure-your-50-character-random-secret-key-here-for-security
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,rajabhoj.com.np,www.rajabhoj.com.np
DATABASE_URL=postgres://username:password@localhost:5432/portfolio_db
DISABLE_SSL_REDIRECT=False
